# Python bytecode caching
__pycache__/
*.py[cod]
*$py.class

# Python virtual environments
venv/
.venv/
ENV/
env/
uploads/
.env
hf_token
.env
hf_token.txt
.pytest_cache/

hf_token
hf_token.txt
.env
venv/"hf_token.txt" 
"hf_token" 
